@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@using CashCare.ViewModels;
@model DailyExpenseViewModel
<link href="~/css/site.css" rel="stylesheet" />
@{
    var dailyLimit = (Model.currentWallet.NettIncomeAfter / 30);
    var dailyLeft = dailyLimit - Model.todaytotalExpense;
}

<form method="post" asp-controller="Home" asp-action="CreateDailyExpense" enctype="multipart/form-data">
    <div class="card">
        <div class="card-header">
            <span class="textFormat">@Localizer["Add new expense for today"] </span>

        </div>
        <div class="card-body">
            <div class="row g-4">     
                
                <div class="col-md" >
                    <div class="form-floating">
                        <input style="border-radius:30px;border: 2px solid #0070ba;" asp-for="currentExpense.Description" class="form-control" id="floatingInputGridDescription" placeholder="">
                        <label  for="floatingInputGridDescription">@Localizer["Description"]</label>
                    </div>
                </div>

                <div class="col-md">
                    <div class="form-floating" style="padding-bottom:20px">
                        <input style="border-radius:30px; border: 2px solid #0070ba;" asp-for="currentExpense.Amount" class="form-control" id="floatingInputGridAmount" placeholder="200$" oninput="validateDecimalInput(this)" value="">
                        <label for="floatingInputGridAmount">@Localizer["Amount"]</label>
                    </div>
                </div>

                <div class="col-md" style="text-align:left">
                    <button name="BtnAction" style="width:100%; height:calc(3.5rem + 2px); border-radius:30px;background-color:#0070ba;color:white;height:70%" class="btn btn textFormat">@Localizer["Add"]</button>
                </div>

                <div class="col-md" style="border:dotted;text-align:center;border-radius:40px;height: 55px;padding:15px; border-color:#0070ba">
                    <span class="textFormat" style="margin-top:20px"> @dailyLeft.ToString("F2") @Localizer["$"] / @dailyLimit.ToString("F2") @Localizer["$"] </span>
                </div>

            </div>
        </div>
    </div>

    @{
        var headerId = $"heading";
        var collapseId = $"collapse";
        var buttonId = $"button";

        <div class="card">
            <div class="card-header">
                <span class="textFormat">@Localizer["Current month"]  @(Model.currentWallet.NettIncomeAfter - Model.ExpenseSomme) @Localizer["$"] / @Model.currentWallet.NettIncomeAfter @Localizer["$"] </span>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th style="text-align:center" scope="col">@Localizer["Expenses"]</th>
                        <th style="text-align:center;" scope="col">@Localizer["Saving"]</th>
                        <th style="text-align:center;" scope="col">@Localizer["Actions"]</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var expense in Model.ListexpensePerDay)
                        {


                            <tr>
                                <th scope="row">
                                    @{
                                        if (expense.DayOftheMonth.Day == DateTime.Now.Day)
                                        {
                                            <span>@Localizer["Today"]</span>
                                        }
                                        else
                                        {
                                            <span>@Localizer["Day"] @expense.DayOftheMonth.ToString("dd/MM/yyyy")</span>
                                        }
                                    }
                                </th>
                                <td style="text-align:center">@expense.ExpensesTotalAmount.ToString("F2")</td>
                                <td style="text-align:center">@expense.SavingThisDay.ToString("F2")</td>
                                <td style="text-align:center;"><a style="font-weight: bolder;" href="@Url.Action("DayDetails", new { dateOfTheMonth = expense.DayOftheMonth})">Details </a></td>
                            </tr>
                        }
                        <tr>
                            <th scope="row">@Localizer["Result"]</th>
                            <td style="text-align:center"><b>@Model.ExpenseSomme.ToString("F2") @Localizer["$"]</b></td>
                            <td style="text-align:center"><b>@Model.SavingSomme.ToString("F2") @Localizer["$"]</b></td>
                            <td style="text-align:center;">#</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

    }
</form>
<script src="~/js/wallet.js"></script>