@{
    ViewData["Title"] = "Home Page";
}
@{
    var accordionId = "accordionExample";
    for (var i = 0; i <= 12; i++)
    {
        var headerId = $"heading{i}";
        var collapseId = $"collapse{i}";
        var buttonId = $"button{i}";
        <div class="accordion" id="@accordionId">
            <div class="accordion-item">
                <h2 class="accordion-header" id="@headerId">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#@collapseId" aria-expanded="true" aria-controls="@collapseId">
                        Month @i
                    </button>
                </h2>
                <div id="@collapseId" class="accordion-collapse collapse" aria-labelledby="@headerId" data-bs-parent="#@accordionId">
                    <div class="accordion-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">income</th>
                                    <th scope="col">Expenses</th>
                                    <th scope="col">Saving</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    for (var day = 1; day <= 31; day++)
                                    {
                                        <tr>
                                            <th scope="row">Day @day</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>mdo</td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                        <strong>This is the body of accordion item #@i.</strong> You can customize this content as needed.
                    </div>
                </div>
            </div>
        </div>
    }
}

