<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

@using CashCare.ViewModels
@model EditAccountVM

<div class="outer-container">

    <div class="container">

        <div class="box">

            <div style="border-top-left-radius: 20px;border-top-right-radius: 20px;height:40%; background-color:#0070ba">
                <b><label style="color:white;padding:20px;">Profile</label></b>
                <b style="float:right"><label style="color:white;padding:20px;">Account opened in 2024</label></b>
            </div>
            <div style="background-color:white;height:150px;border-end-end-radius:20px;border-end-start-radius:20px">
                <label style="color:black;padding:20px;font-size:24px">@Model.CurrentUser.FirstName @Model.CurrentUser.LastName</label>
                <b><a style="float:right;padding:26px;font-size:16px;text-decoration:none" href="#">change name</a></b>
                <br />
                <b><a href="#" style="padding:26px;float:left; text-decoration:none;font-size:16px">complete your personal profile</a></b>
            </div>

        </div>

        <div class="box">

            <div style="background-color:transparent;height:100px">

                <div style="height:25%;background-color:#f1f2f3;border-radius:20px;margin-bottom:15px">
                    <label style="font-size:24px;">E-Mails</label>
                </div>

                <div style="height:75%; border-radius:20px;background-color:white">
                    <i class="fas fa-envelope" style="color:#0070ba;padding-top:20px;padding-left:20px;font-size:20px"></i> <br />
                    <label style="padding-left:16px;font-size:18px">@Model.CurrentUser.Email</label>
                    <b><a href="@Url.Action("EditMail","Account", new{Email = @Model.CurrentUser.Email})" style="text-decoration:none;float:right;padding-right:20px"> Edit </a></b>
                </div>

            </div>

            <div style="background-color:transparent;height:150px;padding-top:20px">

                <div style="height:25%;background-color:#f1f2f3;border-radius:20px;margin-bottom:15px">
                    <label style="font-size:24px">Phone number</label>
                </div>

                <div style="height:65%; border-radius:20px;background-color:white">
                    <i class="fas fa-phone" style="color:#0070ba;padding-top:20px;padding-left:20px;font-size:20px"></i> <br />
                    <label style="padding-left:16px;font-size:18px">@Model.CurrentUser.PhoneNumber +491*****2197</label>
                    <b><a href="@Url.Action("EditPhone","Account", new{PhoneNumber = Model.CurrentUser.PhoneNumber})" style="text-decoration:none;float:right;padding-right:20px"> Edit </a></b>
                </div>

            </div>

        </div>
    </div>
</div>
<br />
<div class="container">
    <div class="box" style="width:100%">
        <div style="border-radius:20px;background-color:white; height:90px;">
            <i class="fas fa-unlock" style="color:#0070ba;padding-top:20px;padding-left:20px;font-size:20px"></i> <label style="padding-left:16px;font-size:18px">Password</label>
            <b> <a href="/Account/EditPassword" style="text-decoration:none;float:right;padding-right:50px;padding-top:30px">Update</a></b>
            <br />
            <label style="padding-left:56px;font-size:18px;color:#545d68">Set or update your password</label>
        </div>
    </div>
</div>

<script>
    function openPopup() {
        document.getElementById('popup').style.display = 'block';
    }
    function closePopup() {
        document.getElementById('popup').style.display = 'none';
    }
</script>
<link href="~/css/account.css" rel="stylesheet" />