@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CashCare</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CashCare.styles.css" asp-append-version="true" />
    <link href="~/css/toastr.min.css" rel="stylesheet" />
</head>
<body style="background-color:#f1f2f3">

   

    <header>
        <nav style="background-color:#0070ba; height:80px" class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between align-items-center">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item" style="margin-right:2%">
                            <b><a style="color:white" class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Home page"]</a></b>
                        </li>
                        <li class="nav-item" style="margin-right:2%">
                            <b><a style="color:white" class="nav-link text-white" asp-area="" asp-controller="Wallet" asp-action="Index">@Localizer["Wallet"]</a></b>
                        </li>
                        <li class="nav-item" style="margin-right:2%">
                            <b><a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Investing">@Localizer["Investing"]</a></b>
                        </li>
                        <li class="nav-item" style="margin-right:2%">
                            <b><a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">@Localizer["Stats"]</a></b>
                        </li>
                    </ul>
                    @{
                        var cultures = new List<SelectListItem>
                    {
                    new SelectListItem { Value = "en", Text = "English" },
                    new SelectListItem { Value = "fr", Text = "Français" },
                    new SelectListItem { Value = "de", Text = "Deutsch" }
                    };
                        var selectedCulture = ViewBag.SelectedCulture as string;
                    }

                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item">
                            <form id="selectLanguage" asp-controller="Home" asp-action="SetLanguage" method="post">
                                <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
                                <select style="margin-top:10%; border-radius:10px;color:#0070ba;font-weight:bold;" name="culture" onchange="this.form.submit();">
                                    <option style="font-weight:bold;" selected value="en">English</option>
                                    <option style="font-weight:bold;" value="fr">Français</option>
                                    <option style="font-weight:bold;" value="de">Deutsch</option>
                                </select>
                            </form>
                        </li>

                        <li class="nav-item" >
                            <b><a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="EditAccount">@Localizer["Account"]</a></b>
                        </li>

                        <li class="nav-item" >
                            <b><a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="logout">@Localizer["Logout"]</a></b>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - CashCare - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/toastify.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    @Html.Partial("_Notification")
</body>
</html>

<script>
    // Fonction pour enregistrer la sélection de langue dans le stockage local
    function saveLanguageSelection() {
        // Récupérer l'élément de sélection de langue
        var languageSelect = document.querySelector('select[name="culture"]');

        // Enregistrer la sélection dans le stockage local
        localStorage.setItem('selectedLanguage', languageSelect.value);
    }

    // Fonction pour restaurer la sélection de langue depuis le stockage local
    function restoreLanguageSelection() {
        // Récupérer l'élément de sélection de langue
        var languageSelect = document.querySelector('select[name="culture"]');

        // Récupérer la sélection de langue depuis le stockage local
        var selectedLanguage = localStorage.getItem('selectedLanguage');

        // Si une sélection est trouvée dans le stockage local, la définir comme sélection actuelle
        if (selectedLanguage) {
            languageSelect.value = selectedLanguage;
        }
    }

    // Appeler la fonction pour restaurer la sélection de langue lorsque la page est chargée
    window.addEventListener('DOMContentLoaded', restoreLanguageSelection);

    // Écouter les changements de sélection de langue et enregistrer la sélection
    document.querySelector('select[name="culture"]').addEventListener('change', saveLanguageSelection);
</script>
