@* @{
    var currentUrl = Context.Request.Path + Context.Request.QueryString;
} *@
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@using CashCare.ViewModels.Enum;
@using CashCare.Models.Wallet.Enum;
@using CashCare.ViewModels;
@model WalletViewModel

@* CETTE PARTIE Appartient au revenue !! ----------------------------------------------------------------------------------------------------------------------- *@
<form method="post" asp-controller="Wallet" asp-action="Index" enctype="multipart/form-data">
    <div class="accordion" id="accordionId">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headerId1">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseId1" aria-expanded="true" aria-controls="collapseId1">
                    @Localizer["Income"] - @Model.TotalIncome $  <span style="width:80%;text-align:right">@Localizer["Salary after all charges"]: @Model.NettIncomeAfter @Localizer["$"]</span>
                </button>
            </h2>
            <div id="collapseId1" class="accordion-collapse collapse @Model.MenuState.IncomeMenu" aria-labelledby="headerId1" data-bs-parent="#accordionId">
                <div class="accordion-body">
                    <div class="row g-4">

                        <div class="col-md">
                            <div class="form-floating">
                                <select asp-for="Income.TypeOfIncome" class="form-select" id="floatingSelectGrid">
                                    <option selected>Open this select menu</option>
                                    <option value="@IncomeType.MonthlySalary">@IncomeType.MonthlySalary.ToString()</option>
                                    <option value="@IncomeType.RentalIncome">@IncomeType.RentalIncome.ToString()</option>
                                    <option value="@IncomeType.SocialBenefits">@IncomeType.SocialBenefits.ToString()</option>
                                    <option value="@IncomeType.Others">@IncomeType.Others.ToString()</option>
                                </select>
                                <label for="floatingSelectGrid">@Localizer["Type of income"]</label>
                            </div>
                        </div>

                        <div class="col-md">
                            <div class="form-floating">
                                <input asp-for="Income.Amount" class="form-control" id="floatingInputGrid" placeholder="2500$" oninput="validateDecimalInput(this)" value="">
                                <label for="floatingInputGrid">@Localizer["Amount"]</label>
                            </div>
                        </div>

                        <div class="col-md">
                            <div class="form-floating">
                                <input asp-for="Income.DataOfRecive" class="form-control" id="floatingInputGrid" placeholder="27" step="1" min="1" max="30" value="">
                                <label for="floatingInputGrid">@Localizer["Date of recive"] 1-30</label>
                            </div>
                        </div>

                        <div class="col-md">
                            <button asp-for="BtnAction" value="@ButtonActionType.IncomeBTN" name="BtnAction" style="width:100%; height:calc(3.5rem + 2px);" class="btn btn-success">@Localizer["Save"]</button>
                        </div>
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">@Localizer["Type of income"]</th>
                                <th scope="col">@Localizer["Amount"]</th>
                                <th scope="col">@Localizer["Date of receive"]</th>
                                <th style="text-align:center" scope="col">@Localizer["Actions"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var income in Model.Wallet.Incomes)
                                {
                                    <tr>
                                        <th scope="row"> @income.TypeOfIncome.ToString() </th>
                                        <td>@income.Amount $</td>
                                        <td> @income.DataOfRecive @Localizer["of each month"]</td>
                                        <td style="text-align:center">
                                            <a href="@Url.Action("EditIncome",new {id = income.Id})">@Localizer["Edit"]</a>
                                            <a value="@ButtonActionType.DeleteIncome" asp-for="BtnAction" href="@Url.Action("DeleteIncome",new {id = income.Id})">@Localizer["Delete"]</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @* CETTE PARTIE Appartient au dette !! ----------------------------------------------------------------------------------------------------------------------- *@

    <div class="accordion" id="accordionId">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headerId2">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseId2" aria-expanded="true" aria-controls="collapseId2">
                    @Localizer["Debt"] - @Localizer["repaid per month"] - @Model.TotalDebts $
                </button>
            </h2>
            <div id="collapseId2" class="accordion-collapse collapse @Model.MenuState.DebtMenu" aria-labelledby="headerId2" data-bs-parent="#accordionId">
                <div class="accordion-body">
                    <div class="row g-3">

                        <div class="col-md">
                            <div class="form-floating">
                                <select asp-for="Debt.DebtType" class="form-select" id="floatingSelectGrid">
                                    <option selected>Open this select menu</option>
                                    <option value="@DebtType.PersonalDebt">@Localizer["Personal Debt"]</option>
                                    <option value="@DebtType.StudentDebt">@Localizer["Student Debt"] </option>
                                    <option value="@DebtType.ConsumerDebt">@Localizer["Consumer Debt"] </option>
                                    <option value="@DebtType.MedicalDebt">@Localizer["Medical Debt"]</option>
                                    <option value="@DebtType.Others">Others</option>
                                </select>
                                <label for="floatingSelectGrid">@Localizer["Type of Debt"]</label>
                            </div>
                        </div>

                        <div class="col-md">
                            <div class="form-floating">
                                <input asp-for="Debt.Amount" class="form-control" id="floatingInputGrid" placeholder="50$" oninput="validateDecimalInput(this)" value="">
                                <label for="floatingInputGrid">@Localizer["Amount paid monthly"]</label>
                            </div>
                        </div>

                        <div class="col-md">
                            <button value="@ButtonActionType.DebtBTN" asp-for="BtnAction" name="BtnAction" style="width:100%; height:calc(3.5rem + 2px);" class="btn btn-success">@Localizer["Save"]</button>
                        </div>
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">@Localizer["Type of Debt"]</th>
                                <th style="width:450px;text-align:center" scope="col">@Localizer["Amount"]</th>
                                <th  scope="col"></th>
                                <th style="text-align:center" scope="col">@Localizer["Actions"]</th>
                            </tr>
                        </thead>
                        <tbody>

                            @{
                                foreach (var debt in Model.Wallet.Debts)
                                {
                                    <tr>
                                        <th scope="row"> @debt.DebtType.ToString()</th>
                                        <td style="width:450px;text-align:center">@debt.Amount $</td>
                                        <td ></td>
                                        <td style="text-align:center">
                                            <a href="@Url.Action("EditDebt",new {id = debt.Id})">@Localizer["Edit"]</a>
                                            <a href="@Url.Action("DeleteDebt",new {id = debt.Id})">@Localizer["Delete"]</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    @* CETTE PARTIE Appartient au expense !! ----------------------------------------------------------------------------------------------------------------------- *@


    <div class="accordion" id="accordionId">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headerId3">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseId3" aria-expanded="true" aria-controls="collapseId3">
                    @Localizer["Fixed expense"] - @Model.TotalExpense @Localizer["$"]
                </button>
            </h2>
            <div id="collapseId3" class="accordion-collapse collapse @Model.MenuState.ExpenseMenu" aria-labelledby="headerId3" data-bs-parent="#accordionId">
                <div class="accordion-body">
                    <div class="row g-4">

                        <div class="col-md">
                            <div class="form-floating">
                                <select asp-for="Expense.TypeOfExpense" class="form-select" id="floatingSelectGrid">
                                    <option selected>@Localizer["Open this select menu"]</option>
                                    <option value="@ExpenseType.HousingRent">@Localizer["Housing Rent"]</option>
                                    <option value="@ExpenseType.Abonnements">@Localizer["Subscriptions"]</option>
                                    <option value="@ExpenseType.Tuition">@Localizer["Tuition"]</option>
                                    <option value="@ExpenseType.Transportation">@Localizer["Transportation"]</option>
                                    <option value="@ExpenseType.Others">@Localizer["Others"]</option>
                                </select>
                                <label for="floatingSelectGrid">@Localizer["Type of expense"]</label>
                            </div>
                        </div>

                        <div class="col-md">
                            <div class="form-floating">
                                <input asp-for="Expense.details" class="form-control" id="floatingInputGrid" placeholder="">
                                <label for="floatingInputGrid">Details: ex. Vodafone Abonnement</label>
                            </div>
                        </div>

                        <div class="col-md">
                            <div class="form-floating">
                                <input asp-for="Expense.Amount" class="form-control" id="floatingInputGrid" placeholder="400$" oninput="validateDecimalInput(this)">
                                <label for="floatingInputGrid">@Localizer["Amount"]</label>
                            </div>
                        </div>

                        <div class="col-md">
                            <button name="BtnAction" value="@ButtonActionType.ExpenseBTN" style="width:100%; height:calc(3.5rem + 2px);" class="btn btn-success">@Localizer["Save"]</button>
                        </div>
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">@Localizer["Type of expense"]</th>
                                <th scope="col">Details</th>
                                <th scope="col">@Localizer["Amount"]</th>
                                <th style="text-align:center" scope="col">@Localizer["Actions"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var expense in Model.Wallet.ExpenseListe)
                                {
                                    <tr>
                                        <th scope="row"> @expense.TypeOfExpense.ToString()</th>
                                        <td>@expense.details</td>
                                        <td>@expense.Amount @Localizer["$"]</td>
                                        <td style="text-align:center">
                                            <a href="@Url.Action("EditExpense",new {id = expense.Id})">@Localizer["Edit"]</a>
                                            <a href="@Url.Action("DeleteExpense",new {id = expense.Id})">@Localizer["Delete"]</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    @* CETTE PARTIE Appartient au epargne !! ----------------------------------------------------------------------------------------------------------------------- *@

    <div class="accordion" id="accordionId">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headerId4">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseId4" aria-expanded="true" aria-controls="collapseId4">
                    @Localizer["Savings program"] - @Model.Wallet.Saving.MonthlySavingAmount @Localizer["$"] @Localizer["per Month"]
                </button>
            </h2>
            <div id="collapseId4" class="accordion-collapse collapse @Model.MenuState.SavingMenu" aria-labelledby="headerId4" data-bs-parent="#accordionId">
                <div class="accordion-body">
                    <div class="row g-4">

                        <div class="col-md">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelectGrid">
                                    <option selected>Manuel amount</option>
                                    <option>% of the salary</option>
                                </select>
                                <label for="floatingSelectGrid">@Localizer["Savings Options"]</label>
                            </div>
                        </div>

                        <div class="col-md">
                            <div class="form-floating">
                                <input asp-for="Wallet.Saving.MonthlySavingAmount" class="form-control" id="floatingInputGrid" placeholder="400$" value="Model.Wallet.Saving.MonthlySavingAmount" oninput="validateDecimalInput(this)">
                                <label for="floatingInputGrid">@Model.Wallet.Saving.MonthlySavingAmount</label>
                            </div>
                        </div>

                        <div class="col-md">
                            <button name="BtnAction" value="@ButtonActionType.SavingBTN" style="width:100%; height:calc(3.5rem + 2px);" class="btn btn-success">@Localizer["Save"]</button>
                        </div>
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th style="text-align:center" scope="col">@Localizer["Monthly saving"]</th>
                                <th style="text-align:center" scope="col">@Localizer["Expected in 1 year"]</th>
                                <th style="text-align:center" scope="col">@Localizer["Actions"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                <tr>
                                    <th scope="row">@Localizer["Expecting"]</th>
                                    <td style="text-align:center">@Model.Wallet.Saving.MonthlySavingAmount.ToString("F2") @Localizer["$"]</td>
                                    <td style="text-align:center">
                                        @{
                                           var x = (Model.Wallet.Saving.MonthlySavingAmount * 12).ToString("F2");
                                        }
                                        @x @Localizer["$"]
                                    </td>
                                    <td style="text-align:center;">
                                        <a href="#">@Localizer["Delete"]</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



    <div style="height:350px;text-align:center;">
        @{
            if (Model.NettIncomeAfter != 0)
            {
                <canvas style="display:inline-block" height="300" width="300" id="Total"></canvas>
                <canvas style="display:inline-block" height="300" width="300" id="Expense"></canvas>
                <canvas style="display:inline-block" height="300" width="300" id="Debt"></canvas>
            }            
        }

    </div>
    <div>
    </div>

</form>

@{
    var IncomeLabelList = new List<string>();
    var IncomePriceList = new List<decimal>();

    var DebtLabelList = new List<string>();
    var DebtPriceList = new List<decimal>();

    var ExpenseLabelList = new List<string>();
    var ExpensePriceList = new List<decimal>();

    foreach (var income in Model.Wallet.Incomes)
    {
        IncomeLabelList.Add(income.TypeOfIncome.ToString());
        IncomePriceList.Add(income.Amount);
    }

    foreach (var debt in Model.Wallet.Debts)
    {
        DebtLabelList.Add(debt.DebtType.ToString());
        DebtPriceList.Add(debt.Amount);
    }

    foreach (var expense in Model.Wallet.ExpenseListe)
    {
        ExpenseLabelList.Add(expense.details.ToString());
        ExpensePriceList.Add(expense.Amount);
    }
}


<script src="~/js/wallet.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

<script>
    var ctx = document.getElementById('Total').getContext('2d');
    var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Rest Income','Debt','Expenses','Saving'],
            datasets: [{
                label: 'Statistics',
                data: [@Convert.ToInt32(Model.NettIncomeAfter), @Convert.ToInt32(Model.TotalDebts), @Convert.ToInt32(Model.TotalExpense), @Convert.ToInt32(Model.Wallet.Saving.MonthlySavingAmount)],
                backgroundColor: [
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 77, 40, 0.2)'
                ],
                borderColor: [
                    'rgba(75, 192, 192, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,

            plugins: {
                title: {
                    display: true,
                    text: 'distribution of the Income'
                },
                datalabels: {
                    formatter: (value, ctx) => {
                        let sum = 0;
                        let dataArr = ctx.chart.data.datasets[0].data;
                        dataArr.map(data => {
                            sum += data;
                        });
                        let percentage = (value * 100 / sum).toFixed(2) + "%";
                        return ctx.chart.data.labels[ctx.dataIndex] + '\n' + percentage;
                    },
                    color: '#000000',
                },
                legend: {
                    display: false // désactiver l'affichage des légendes
                }
            }
        },
        plugins: [ChartDataLabels]
    });

    var debtLabels = @Html.Raw(Json.Serialize(DebtLabelList));
    var debtPrices = @Html.Raw(Json.Serialize(DebtPriceList));

    var ctx2 = document.getElementById('Debt').getContext('2d');
    var myPieChart2 = new Chart(ctx2, {
        type: 'pie',
        data: {
            labels: debtLabels,
            datasets: [{
                label: 'Statistics',
                data: debtPrices,
                backgroundColor: [
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)'
                ],
                borderColor: [
                    'rgba(75, 192, 192, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                title: {
                    display: true,
                    text: 'Debt sources'
                },
                datalabels: {
                    formatter: (value, ctx2) => {
                        let sum = 0;
                        let dataArr = ctx2.chart.data.datasets[0].data;
                        dataArr.map(data => {
                            sum += data;
                        });
                        let percentage = (value * 100 / sum).toFixed(2) + "%";
                        return ctx2.chart.data.labels[ctx2.dataIndex] + '\n' + percentage;
                    },
                    color: '#000000',
                },
                legend: {
                    display: false // désactiver l'affichage des légendes
                }
            }
        },
        plugins: [ChartDataLabels]
    });

    var expenseLabels = @Html.Raw(Json.Serialize(ExpenseLabelList));
    var expensePrices = @Html.Raw(Json.Serialize(ExpensePriceList));

    var ctx3 = document.getElementById('Expense').getContext('2d');
    var myPieChart3 = new Chart(ctx3, {
        type: 'pie',
        data: {
            labels: expenseLabels,
            datasets: [{
                label: 'Statistics',
                data: expensePrices,
                backgroundColor: [
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)'
                ],
                borderColor: [
                    'rgba(75, 192, 192, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                title: {
                    display: true,
                    text: 'Expense sources'
                },
                datalabels: {
                    formatter: (value, ctx3) => {
                        let sum = 0;
                        let dataArr = ctx3.chart.data.datasets[0].data;
                        dataArr.map(data => {
                            sum += data;
                        });
                        let percentage = (value * 100 / sum).toFixed(2) + "%";
                        return  percentage;
                    },
                    color: '#000000',
                },
                legend: {
                    display: false // désactiver l'affichage des légendes
                }
            }
        },
        plugins: [ChartDataLabels]
    });
</script>




